node_modules/*
dist/*
.env
GEMINI.md
web/*
.agents/*
.agent/*
.dev/*
.worktrees/*
src/package/*
config.yaml
bun.lockb
workspace/session/*
workspace/profiles/*
!workspace/profiles/v1
!workspace/session/README.md