node_modules/
dist/
web/
.agent/
.dev/
.vscode/
.VSCodeCounter/
.worktrees/

!workspace/profiles/v1
!workspace/sessions/README.md

workspace/*

.env
GEMINI.md
bun.lockb


src/package/*
src/.core_old/*
!src/core/

data/
tmp/

scripts/